.container {
    border-radius: 3px;
    background: transparent;
    color: var(--secondary-text-clr);
    border: 1px solid var(--primary-clr);
    padding: 7px 25px;
    font-weight: 700;
    line-height: 15px;
    font-size: 14px;
    /*box-shadow: 4px 5px 24px rgba(180, 180, 180, 0.1);*/
}

.fillBackground {
    background: var(--primary-clr);
    color: white;
}

.roundedBorder {
    border-radius: 7px;
}

.tabcontainer {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: white;
    color: var(--secondary-text-clr);
    border: 3px solid white;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    padding: 13px 30px;
    font-weight: 700;
    line-height: 19px;
    font-size: 14px; 
}

.tabFillBackground {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: var(--tab-button-background-clr);
    color: var(--primary-clr);
    border-color: var(--tab-button-background-clr);
    border-top-color: var(--primary-clr);
}