.input {

}

.inputText {
    height: 37px;
    border-radius: 5px;
    border: 1px solid rgba(68, 114, 196, 0.2);
    width: 208px;
}

.input:focus {
    border: 1px solid rgba(68, 114, 196, 0.2);
}

.indicationContainer {
    color: var(--primary-text-clr);
}