.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: start;
}

.alignItemsStart {
    align-items: start !important;
}

.labelText {
    font-size: 14px;
    font-weight: 600;
}


@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
        gap: 0
    }

    .justifyStart {
        justify-content: start;
        gap: 48px;
    }
}