.container {
  background-color: white;
  padding: 35px 18px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.header {
  padding-left: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  color: var(--primary-clr);
  font-weight: 800;
  font-size: 15px;
}

.tableHeader {
  color: var(--primary-clr);
  font-weight: 700;
  font-size: 12px;
}

.tableDiv {
  width: 100%;
}

.table {
  border-collapse: collapse;
  /*box-shadow: 5.95071px 7.14433px 35.7217px rgba(180, 180, 180, 0.1);*/
  width: 100%;
}

.headingsRow {
  position: relative;
  border: none;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.bodyRow {
  border-top: 1px solid #e9e9e9;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
}

.dataText {
  color: var(--primary-text-clr);
  font-size: 12px;
  font-weight: 500;
}

.alignItems {
  display: flex;
  align-items: center;
  gap: 8px;
}