.footerRow {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.labelText {
  font-size: 14px;
  font-weight: 600;
}

.checkBoxDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subReferenceTypeContainer {
  width: 100%
}

@media only screen and (min-width: 600px) {
  .subReferenceTypeContainer {
    width: 53%
  }

  .checkBoxDiv {
    flex-direction: row;
    gap: 33px;
    align-items: center;
  }
}

.inputRow {
  width: 100%;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .inputRow {
    width: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  .subReferenceTypeContainer {
    width: 43%
  };

  .inputRow {
    width: 50%;
  };
}

@media only screen and (min-width: 1200px) {
  .subReferenceTypeContainer {
    width: 35%
  }
}

@media only screen and (min-width: 1300px) {
  .inputRow {
    width: 36%;
  }
}