.nav {
  padding-left: 46px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 37px;
  align-items: center;
}

.option {
  font-size: 14px;
  font-weight: 600;
}

.optionLink {
  text-decoration: inherit;
  color: inherit;
}

.optionLink:hover {
  color: inherit;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.userContainer {
  display: flex;
  align-items: center;
}

.dropDownMenu {
  padding: 0px !important;
}

.dropDownMenu * {
  border-radius: 0 !important;
}

.dropdownItem:hover {
  background-color: transparent;
}

.configurationDropDownItem {
  background-color: white !important;
}

.configurationDropDownItem:hover {
  background-color: var(--table-row-lightgreen-background-clr) !important;
  border-radius: none !important;
}
