.container {
    padding: 40px;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.circle {
    margin-top: 40px;
}

.bigCircle {
    width: 108px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--bigCircle-background-clr);
    display: grid;
}

.smallCircle {
    place-self: center;
    display: grid;
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px dashed var(--primary-clr-light);
    place-items: center;
}

.clientType {
    margin: 46px 0;
}

.serialNumber {
    font-size: 36px;
    font-weight: 600;
    line-height: 25px;
}

.infoDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.inputRow, .inputRow3, .inputRow4 {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputRow4 {
    width: 70%;
}

.inputTextArea {
    width: 100%;
}

.inputRow2 {
    margin-top: 15px;
}

.extraInfo {
    margin-top: 68px;
}

.extraInfoDetails {
    background-color: white;
    border-radius: 0px 2px 2px 2px;
    border-top: 2px solid var(--primary-clr);
    padding: 38px;
}

.plusIconRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 30px;
}

.contactDivButtons {
    margin-bottom: 46px;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
}

.actionButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 58px;
    gap: 26px;
}

.discard {
    font-weight: 600;
    font-size: 14px;
    color: var(--primary-clr);
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (min-width: 991px) {
    
    .inputRow2 {
        margin-top: 0;
    }

    .inputRow3 {
        width: 50%;
    }

    .inputRow4 {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {

    .infoDiv {
        flex-direction: row;
        gap: 110px;
    }

    .inputRow {
        width: 100%;
    }

    .inputRow4 {
        width: 35%;
    }

}

@media only screen and (min-width: 1400px) {

    .inputRow4 {
        width: 30%;
    }

}