.container {
    padding: 40px;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.quotationInfo {
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.inputRow {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.extraInfo {
    margin-top: 60px;
}

.extraInfoButtons {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.extraInfoDetails {
    margin-top: 27px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 67px;
}

.table{
    display: flex;
    flex-direction: column;
}

.tableInputRow {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    padding-left: 25px;
    padding-right: 25px;

}

.tableColumns{
display: flex;
flex-direction: column;
width: 100%;
}

.salesTableTitleContainer,.invoiceTableTitleContainer{
    background-color: rgba(68, 114, 196, 1);
    border-radius: 5px;
    border-top: 10px solid var(--primary-clr);
}

.invoiceTableTitleContainer{
    margin-top: 25px;
}

.tableTitles{
    color: white;
    padding: 10px 0px 10px 25px;
}

@media only screen and (max-width: 1200px) {
.quotationInfo{
    flex-direction: column;
 }
}

@media only screen and (min-width: 685px) {
    .extraInfoButtons {
        flex-direction: row;
    }
    .tableInputRow{
        padding-right: 0px;
    }
}

@media only screen and (min-width: 820px) {
    .title {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .inputRow {
        width: 40%;
    }

    .quotationInfo {
        gap: 100px;
    }

    .extraInfo {
        margin-top: 121px;
    }

    .table {
        flex-direction: row;
    }

    .salesTableTitleContainer{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; 
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;   
    }
    
    .invoiceTableTitleContainer{
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; 
        margin-top: 0px !important;
    }
}

